$xs: 375px;
$s: 400px;
$m: 570px;
$l: 1000px;

.p-button {
    background: black;
    border-color: black;
}

/* .formDialog {

  @media screen and (max-width: $small) {
    width: 90vw;
  }
  @media screen and (min-width: $medium) {
    width: 50vw;
  }
} */

@media (max-width: 768px) {
  .formDialog{
    width: 90vw;
  }
}

@media screen and (min-width: $xs) {
  img {
    height: 55vh;
  }
}

@media screen and (min-width: $s) {
  img {
    height: 80vh;
  }
}

@media screen and (min-width: $m) {
  img {
    height: 35vh;
  }
}

@media screen and (min-width: $l) {
  img {
    height: 50vh;
  }
}
