$xs: 375px;
$s: 400px;
$m: 570px;
$l: 1000px;

.char-header {
  align-items: center;
  margin: 1.5em;
}

.btn-new-char {
  margin-left: 1em;
  margin: 1em;
}

/* .formDialog {
  width: 50vw;
}

@media (max-width: $m) {
  .formDialog{
    width: 90vw;
  }
} */

@media screen and (min-width: $xs) {
  img {
    height: 55vh;
  }

  .formDialog{
    width: 90vw;
  }
}

@media screen and (min-width: $s) {
  img {
    height: 50vh;
  }
}

@media screen and (min-width: $m) {
  img {
    height: 35vh;
  }
}

@media screen and (min-width: $l) {
  img {
    height: 50vh;
  }
}
