<div class="container">
    <h1 class="text-center">Movies</h1>

    <div class='row row-cols-3 row-cols-md-3'>
      <div class="col mb-3"  *ngFor='let movie of movies'>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">Producer: <span>{{movie.producer}}</span></p>
            <p class="card-text">Release date: <span>{{movie.release_date}}</span></p>
            <a href="#" class="btn btn-link">More</a>
          </div>
        </div>
      </div>
    </div>
    
</div>
