<!-- <div class="container">
    <h1 class="text-center">Movies</h1>

    <div class='row row-cols-3 row-cols-md-3'>
      <div class="col mb-3"  *ngFor='let movie of movies'>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">Producer: <span>{{movie.producer}}</span></p>
            <p class="card-text">Release date: <span>{{movie.release_date}}</span></p>
            <a [routerLink]="['movie-details']" [state]="movie" class="btn btn-link">More</a>
          </div>
        </div>
      </div>
    </div>
</div>
 -->

<!-- <div class="container">
  <h1 class="text-center">Movies</h1>
  <div class='card-columns'>
      <div class="card" *ngFor='let movie of movies'>
        <img src="/assets/movie.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">Producer: <span>{{movie.producer}}</span></p>
          <p class="card-text">Release date: <span>{{movie.release_date}}</span></p>
          <a [routerLink]="['movie-details']" [state]="movie" class="btn btn-link">More</a>
        </div>
    </div>
  </div>
</div>
 -->

<div class="container">
  <h1 class="text-center swapi-movie-header">Movies</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col mb-4" *ngFor='let movie of movies'>
      <div class="card h-100">
        <img src="/assets/movie.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">Producer: <span>{{movie.producer}}</span></p>
          <p class="card-text">Release date: <span>{{movie.release_date}}</span></p>
          <a [routerLink]="['movie-details']" [state]="movie" class="btn btn-link">More</a>
        </div>
    </div>
  </div>  
 </div>
