body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.p-accordion-header {
    text-decoration: none;

    .link :hover{
        text-decoration: none;
    }
}

.card-text { 
    font-weight: bold;

    span {
        font-weight: normal;
    }

}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
