<div class='container p-mb-5'>
    <h1 class="text-center">{{movie.title}}</h1>
    <div class="card mb-3" style="max-width: 100vw;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Details</h5>
              <p class="card-text">Director: <span>{{movie.director}}</span></p>
              <p class="card-text">Producers: <span>{{movie.producer}}</span></p>
              <p class="card-text">Release date: <span>{{movie.release_date | date : 'shortDate'}}</span></p>
              <p class="card-text">{{movie.opening_crawl}}</p>
            </div>         
          </div>
          <div class="col-md-4 movie-img-container">
            <img src='/assets/films/{{movieId}}/1.jpg' style="width: 100%; display: block;" />
          </div>
      </div>
    </div> 
    <p-accordion *ngIf='characters.length!==0'>
      <p-accordionTab header="Characters">
      <div class="p-grid">
        <div class="p-col-3" *ngFor='let character of characters'>
          <a [routerLink]="['../../characters/character-details']" [state]="character" class="btn btn-link">{{character.name}}</a>
        </div>
      </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion *ngIf='planets.length!==0'>
      <p-accordionTab header="Planets">
      <div class="p-grid">
        <div class="p-col-3" *ngFor='let planet of planets'>
          <a [routerLink]="['../../planets/planet-details']" [state]="planet" class="btn btn-link">{{planet.name}}</a>
        </div>
      </div>
      </p-accordionTab>
    </p-accordion>
</div>