<div class="container">
    <h1 class="text-center">{{movieDetails.title}}</h1>
    <div class="card mb-3" style="max-width: 100vw;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Details</h5>
              <p class="card-text">Director: <span>{{movieDetails.director}}</span></p>
              <p class="card-text">Producers: <span>{{movieDetails.producer}}</span></p>
              <p class="card-text">Release date: <span>{{movieDetails.release_date | date : 'shortDate'}}</span></p>
              <p class="card-text">{{movieDetails.opening_crawl}}</p>
              <h5 class="card-title">Characters</h5>
              <div class="col mb-3"  *ngFor='let character of movieDetails.characters'>
              <!--   <p class="card-text">{{character}}</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="..." alt="...">
          </div>
        </div>
      </div> 
</div>