<nav class="navbar navbar-expand-lg navbar-light">
    <a class="nav-link" href="#"><img src="/assets/star-wars.svg" width="55" height="65" alt="logo-button"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isShown=!isShown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isShown }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['movies']">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['characters']" tabindex="-1">Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['planets']" tabindex="-1">Planets</a>
        </li>
      </ul>
      <app-swapi-search></app-swapi-search>
<!--       <form class="form-inline my-2 my-lg-0">
        <input #searchBox id="search-box" (input)="search(searchBox.value)"">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</nav>