<div class="container p-mb-5">
    <h1 class="text-center">{{planet.name}}</h1>
    <div class="card mb-3" style="max-width: 100vw;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Details</h5>
              <p class="card-text">Type: <span>{{planet.terrain}}</span></p>
              <p class="card-text">Diameter: <span>{{planet.diameter}}</span></p>
              <p class="card-text">Created: <span>{{planet.created | date : 'shortDate'}}</span></p>
              <p class="card-text">Climate: <span>{{planet.climate}}</span></p>
              <p class="card-text">Gravity: <span>{{planet.gravity}}</span></p>
              <p class="card-text">Population: <span>{{planet.population}}</span></p>
            </div>
          </div>
          <div class="col-md-4 planet-img-container">
            <img src='/assets/planets/{{planetId}}/1.jpg' style="width: 100%; display: block;" />
          </div>
      </div>
    </div> 
    <p-accordion *ngIf='characters.length!==0'>
      <p-accordionTab header="Characters">
      <div class="p-grid">
        <div class="p-col-3" *ngFor='let character of characters'>
          <a [routerLink]="['../../characters/character-details']" [state]="character" class="btn btn-link">{{character.name}}</a>
        </div>
      </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion *ngIf='movies.length!==0'>
      <p-accordionTab header="Movies">
      <div class="p-grid">
        <div class="p-col-3" *ngFor='let movie of movies'>
          <a [routerLink]="['../../movies/movie-details']" [state]="movie" class="btn btn-link">{{movie.title}}</a>
        </div>
      </div>
      </p-accordionTab>
    </p-accordion>
</div>