.home-image-container {
    position: relative;
    overflow:hidden;
    height:425px;

    border-radius: 10px;

    img {
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
    }
}